@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply max-w-screen-md h-10 rounded-full border border-gray-300 px-4;
  }

  .form {
    @apply bg-gradient-to-br from-indigo-700 to-purple-700 flex flex-col gap-32 items-center p-10 m-10 rounded-md shadow-lg;
  }

  .btn {
    @apply bg-blue-600 w-44 active:!shadow-lg shadow-blue-300 hover:scale-105 hover:!bg-blue-700 text-white font-bold hover:!text-white transition-all;
  }

  @keyframes marquee {
    0% {
      transform: translateX(80%);
    }
    100% {
      transform: translateX(-80%);
    }
  }

  .animate-marquee {
    animation: marquee 8s linear infinite;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5f7;
}

.App-header {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8fafc;
  padding: 2rem;
}

.App-link {
  color: #6366f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
