@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .input {
    @apply max-w-screen-md h-10 rounded-full
  }

  .form {
    @apply bg-[#2F318D] flex flex-col gap-32 items-center p-10 m-10 rounded-md self-stretch
  }

  .btn {
    @apply bg-[#F2B705] w-44 active:!shadow-lg shadow-orange-50 hover:scale-105 hover:!bg-[#F2B705] text-[#2F318D] font-bold hover:!text-[#2F318D]
  }

  @keyframes marquee {
    0% {
      transform: translateX(80%);
    }
    100% {
      transform: translateX(-80%);
    }
  }

  .animate-marquee {
    animation: marquee 8s linear infinite;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}